## Package imports, data load, and verification

In [1]:
import pandas as pd
import numpy as np

In [2]:
initial = (pd.read_csv("base_stats.csv")
             .rename({'nomr_combined':'norm_combined'},
                     axis=1))

In [3]:
initial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   team         24 non-null     int64
 1   name         24 non-null     object
 2   dname        24 non-null     object
 3   kd           24 non-null     float64
 4   norm_kd      24 non-null     float64
 5   kda          24 non-null     float64
 6   most killed  24 non-null     float64
 7   log_norm_mk  24 non-null     float64
 8   win_perc     24 non-null     float64
dtypes: float64(6), int64(1), object(2)
memory usage: 1.8+ KB

In [4]:
initial.head()

,team,name,dname,kd,norm_kd,kda,most killed,log_norm_mk,win_perc
0,1,iron,IRONKNIGHT INC,1.08,0.67500,1.42,35.0,0.617705,0.4427
1,1,mrspikey,AussieCommander,0.83,0.51875,1.15,29.0,0.585032,0.5399
2,1,suffa,SuFFa,0.63,0.39375,0.93,30.0,0.590922,0.3934
3,2,saxonj23,Saxonj23,1.15,0.71875,1.51,35.0,0.617705,0.5292
4,2,dluith,dluith,0.90,0.56250,1.23,32.0,0.602135,0.4802

## Feature Generation and Verification

In [5]:
initial['assists'] = initial.kda-initial.kd
initial['norm_assists'] = initial.assists/initial.assists.max()
initial['combined'] = (initial.norm_kd+initial.log_norm_mk+initial.win_perc+initial.norm_assists)/4
initial['norm_combined'] = initial.combined/initial.combined.max()

In [6]:
initial.head()

,team,name,dname,kd,norm_kd,kda,most killed,log_norm_mk,win_perc,assists,norm_assists,combined,norm_combined
0,1,iron,IRONKNIGHT INC,1.08,0.67500,1.42,35.0,0.617705,0.4427,0.34,0.739130,0.618634,0.765427
1,1,mrspikey,AussieCommander,0.83,0.51875,1.15,29.0,0.585032,0.5399,0.32,0.695652,0.584834,0.723606
2,1,suffa,SuFFa,0.63,0.39375,0.93,30.0,0.590922,0.3934,0.30,0.652174,0.507562,0.627999
3,2,saxonj23,Saxonj23,1.15,0.71875,1.51,35.0,0.617705,0.5292,0.36,0.782609,0.662066,0.819165
4,2,dluith,dluith,0.90,0.56250,1.23,32.0,0.602135,0.4802,0.33,0.717391,0.590557,0.730687

In [7]:
"""
Ratings/elo mapping based on normalized combined score averages

Based on FIDE https://en.wikipedia.org/wiki/Elo_rating_system#Performance_rating
"""

bins = [1.0,.99,.9,.8,.7,.6,.5,.4,.3,.2,.01,0.0,np.NINF]
ratings = [800,677,366,240,149,72,0,-72,-142,-240,-366,-677]
bins.sort()
ratings.sort()
initial['elo'] = pd.cut(initial.norm_combined.values,
                        bins=bins,
                        labels=ratings
                  ).astype(int)

In [8]:
"""
K Factor for updating ELO 
* Based on where you fall within the normalized combined ratings
* 4 different k-values for within the quantiles
* top 25% : 10, 75-50% : 20, 50-25% : 30, 25% below : 40

This uses a modified k-value from FIDE https://en.wikipedia.org/wiki/Elo_rating_system#Most_accurate_K-factor

The idea is:
* 'veteran' players should see less change with wins/loses
* 'novice' players should see more change with wins/loses
"""

quantiles = initial.norm_combined.quantile([0.0,.25,.5,.55,1.0]).values
quantiles[0]=np.NINF
k_value = [5,10,15,20]
initial['k'] = pd.cut(initial.norm_combined.values,
                      bins=quantiles,
                      labels=k_value
                ).astype(int)

In [9]:
"""
Add the team elo calculation back into the initial data set and view
"""
df = (initial.merge(initial.groupby('team')
                           .agg({"elo":'sum'})
                           .reset_index()
                           .rename({'elo':'team_elo'},
                                   axis=1),
                    on='team', 
                    how='left'))
df.head(24)

,team,name,dname,kd,norm_kd,kda,most killed,log_norm_mk,win_perc,assists,norm_assists,combined,norm_combined,elo,k,team_elo
0,1,iron,IRONKNIGHT INC,1.08,0.67500,1.42,35.00,0.617705,0.4427,0.34,0.739130,0.618634,0.765427,240,10,629
1,1,mrspikey,AussieCommander,0.83,0.51875,1.15,29.00,0.585032,0.5399,0.32,0.695652,0.584834,0.723606,240,10,629
2,1,suffa,SuFFa,0.63,0.39375,0.93,30.00,0.590922,0.3934,0.30,0.652174,0.507562,0.627999,149,5,629
3,2,saxonj23,Saxonj23,1.15,0.71875,1.51,35.00,0.617705,0.5292,0.36,0.782609,0.662066,0.819165,366,20,755
4,2,dluith,dluith,0.90,0.56250,1.23,32.00,0.602135,0.4802,0.33,0.717391,0.590557,0.730687,240,10,755
5,2,kry lxxvi,Kry LXXXVI,0.63,0.39375,0.99,21.00,0.528954,0.4686,0.36,0.782609,0.543478,0.672438,149,5,755
6,3,capt_TT,Capt_TT,1.25,0.78125,1.67,43.00,0.653469,0.5395,0.42,0.913043,0.721816,0.893092,366,20,846
7,3,divi,Divi8882,0.81,0.50625,1.14,34.00,0.612668,0.4610,0.33,0.717391,0.574327,0.710607,240,10,846
8,3,nephew of jimi,taybon,0.76,0.47500,1.13,25.00,0.559246,0.4392,0.37,0.804348,0.569448,0.704570,240,5,846
9,4,haydos,Haydos2207,1.23,0.76875,1.59,42.00,0.649381,0.5236,0.36,0.782609,0.681085,0.842697,366,20,755
10,4,nic,N94F,0.91,0.56875,1.24,29.00,0.585032,0.4390,0.33,0.717391,0.577543,0.714586,240,10,755
11,4,nate,nateagain,0.74,0.46250,1.05,29.00,0.585032,0.4711,0.31,0.673913,0.548136,0.678201,149,5,755
12,5,chef traine,Chef Traine,1.39,0.86875,1.75,42.00,0.649381,0.5255,0.36,0.782609,0.706560,0.874216,366,20,846
13,5,will,Cactxs,0.75,0.46875,1.17,54.18,0.693622,0.5090,0.42,0.913043,0.646104,0.799415,240,20,846
14,5,shadow fang,Shadow_Fang_1993,0.77,0.48125,1.03,316.00,1.000000,0.4730,0.26,0.565217,0.629867,0.779325,240,15,846
15,6,niyonnet,niyo_net,1.55,0.96875,2.01,47.00,0.668923,0.5308,0.46,1.000000,0.792118,0.980076,677,20,1192
16,6,mmerro,merro84,0.98,0.61250,1.27,18.00,0.502172,0.4800,0.29,0.630435,0.556277,0.688273,149,5,1192
17,6,faded,FadedFaux,1.25,0.78125,1.67,32.00,0.602135,0.4690,0.42,0.913043,0.691357,0.855406,366,20,1192
18,7,hammy,Hammy-56,1.41,0.88125,1.81,49.00,0.676163,0.6003,0.40,0.869565,0.756820,0.936402,677,20,1157
19,7,puscifer,Puscifer85,0.83,0.51875,1.22,29.00,0.585032,0.4705,0.39,0.847826,0.605527,0.749210,240,10,1157
20,7,sbt,StayBloodThrsty,0.78,0.48750,1.12,119.00,0.830323,0.4707,0.34,0.739130,0.631913,0.781857,240,20,1157
21,8,floor,Tata and farewell!,1.60,1.00000,2.05,54.18,0.693622,0.5610,0.45,0.978261,0.808221,1.000000,800,20,1315
22,8,cube,Cube9215,1.03,0.64375,1.40,134.00,0.850948,0.4793,0.37,0.804348,0.694587,0.859402,366,20,1315
23,8,olli,ollioxenhomefree,0.69,0.43125,1.01,22.00,0.537036,0.4707,0.32,0.695652,0.533660,0.660289,149,5,1315

### Write to .csv for full stats

In [10]:
df.to_csv("full_stats.csv",index=False)

In [11]:
def team_elo_update(df:pd.DataFrame):
    """
    Takes a pandas DataFrame and returns a new DataFrame with just team numbers and team elo
    """
    return (df.groupby('team')
              .agg({"elo":'sum'})
              .reset_index()
              .rename({'elo':'team_elo'},
                      axis=1))

In [12]:
team_elo = team_elo_update(df)
team_elo.head()

   team  team_elo
0     1       629
1     2       755
2     3       846
3     4       755
4     5       846

In [13]:
def prob(teamA:int, teamB:int):
    ea = (1/(1+10**(
        (team_elo[team_elo.team==teamB].team_elo.values[0] -
         team_elo[team_elo.team==teamA].team_elo.values[0])/400))
         ).round(3)
    eb = (1/(1+10**(
        (team_elo[team_elo.team==teamA].team_elo.values[0] -
         team_elo[team_elo.team==teamB].team_elo.values[0])/400))
         ).round(3)
    return(ea,eb)

In [14]:
def prob_calc(teamA:int, teamB:int):
    ea = (1/(1+10**(
        (team_elo[team_elo.team==teamB].team_elo.values[0] -
         team_elo[team_elo.team==teamA].team_elo.values[0])/400))
         ).round(3)
    eb = (1/(1+10**(
        (team_elo[team_elo.team==teamA].team_elo.values[0] -
         team_elo[team_elo.team==teamB].team_elo.values[0])/400))
         ).round(3)
    print("Team",teamA,"has a:",ea,"% chance and Team",teamB,"has a:",eb,"% chance of winning")

## Round 1-7 Initial
### This is done for all 7 initial rounds to show what the probabilities would be without any update to elo
### Subsequent updates for each round will include a reference to these to show the changes

In [15]:
print("Round 1")
# Team 7 v Team 5
prob_calc(7,5)
# Team 4 v Team 2
prob_calc(4,2)
# Team 1 v Team 3
prob_calc(1,3)
# Team 8 v Team 6
prob_calc(8,6)

Round 1
Team 7 has a: 0.857 % chance and Team 5 has a: 0.143 % chance of winning
Team 4 has a: 0.5 % chance and Team 2 has a: 0.5 % chance of winning
Team 1 has a: 0.223 % chance and Team 3 has a: 0.777 % chance of winning
Team 8 has a: 0.67 % chance and Team 6 has a: 0.33 % chance of winning

In [16]:
print("Round 2")
# Team 3 v Team 4
prob_calc(3,4)
# Team 2 v Team 8
prob_calc(2,8)
# Team 5 v Team 1
prob_calc(5,7)
# Team 6 v Team 7
prob_calc(6,7)

Round 2
Team 3 has a: 0.628 % chance and Team 4 has a: 0.372 % chance of winning
Team 2 has a: 0.038 % chance and Team 8 has a: 0.962 % chance of winning
Team 5 has a: 0.143 % chance and Team 7 has a: 0.857 % chance of winning
Team 6 has a: 0.55 % chance and Team 7 has a: 0.45 % chance of winning

In [17]:
print("Round 3")
# Team 4 v Team 5
prob_calc(4,5)
# Team 1 v Team 6
prob_calc(1,6)
# Team 8 v Team 7
prob_calc(8,7)
# Team 2 v Team 3
prob_calc(2,3)

Round 3
Team 4 has a: 0.372 % chance and Team 5 has a: 0.628 % chance of winning
Team 1 has a: 0.038 % chance and Team 6 has a: 0.962 % chance of winning
Team 8 has a: 0.713 % chance and Team 7 has a: 0.287 % chance of winning
Team 2 has a: 0.372 % chance and Team 3 has a: 0.628 % chance of winning

In [18]:
# Round 4
# Team 7 v Team 1
prob_calc(7,1)
# Team 5 v Team 2
prob_calc(5,2)
# Team 6 v Team 4
prob_calc(6,4)
# Team 3 v Team 8
prob_calc(3,8)

Team 7 has a: 0.954 % chance and Team 1 has a: 0.046 % chance of winning
Team 5 has a: 0.628 % chance and Team 2 has a: 0.372 % chance of winning
Team 6 has a: 0.925 % chance and Team 4 has a: 0.075 % chance of winning
Team 3 has a: 0.063 % chance and Team 8 has a: 0.937 % chance of winning

In [19]:
print("Round 5")
# Team 3 v Team 5
prob_calc(3,5)
# Team 4 v Team 7
prob_calc(4,7)
# Team 2 v Team 6
prob_calc(2,6)
# Team 8 v Team 1
prob_calc(8,1)

Round 5
Team 3 has a: 0.5 % chance and Team 5 has a: 0.5 % chance of winning
Team 4 has a: 0.09 % chance and Team 7 has a: 0.91 % chance of winning
Team 2 has a: 0.075 % chance and Team 6 has a: 0.925 % chance of winning
Team 8 has a: 0.981 % chance and Team 1 has a: 0.019 % chance of winning

In [20]:
print("Round 6")
# Team 7 v Team 2
prob_calc(7,2)
# Team 6 v Team 3
prob_calc(6,3)
# Team 5 v Team 8
prob_calc(5,8)
# Team 1 v Team 4
prob_calc(1,4)

Round 6
Team 7 has a: 0.91 % chance and Team 2 has a: 0.09 % chance of winning
Team 6 has a: 0.88 % chance and Team 3 has a: 0.12 % chance of winning
Team 5 has a: 0.063 % chance and Team 8 has a: 0.937 % chance of winning
Team 1 has a: 0.326 % chance and Team 4 has a: 0.674 % chance of winning

In [21]:
print("Round 7")
# Team 2 v Team 1
prob_calc(2,1)
# Team 8 v Team 4
prob_calc(8,4)
# Team 3 v Team 7
prob_calc(3,7)
# Team 5 v Team 6
prob_calc(5,6)

Round 7
Team 2 has a: 0.674 % chance and Team 1 has a: 0.326 % chance of winning
Team 8 has a: 0.962 % chance and Team 4 has a: 0.038 % chance of winning
Team 3 has a: 0.143 % chance and Team 7 has a: 0.857 % chance of winning
Team 5 has a: 0.12 % chance and Team 6 has a: 0.88 % chance of winning

In [22]:
def elo_update(df:pd.DataFrame,teamA:int,teamB:int,result:int):
    """
    Takes a team number as a winner and provides the new elo scores for that team
    """
    ea,eb = prob(teamA,teamB)
    if teamA == result:
        for member in df[df.team==teamA].index:
            df.iloc[member,13]=df.iloc[member,13]+df.iloc[member,14]*(1-ea)
        for member in df[df.team==teamB].index:
            df.iloc[member,13]=df.iloc[member,13]+df.iloc[member,14]*(0-eb)
    else:
        for member in df[df.team==teamA].index:
            df.iloc[member,13]=df.iloc[member,13]+df.iloc[member,14]*(0-ea)
        for member in df[df.team==teamB].index:
            df.iloc[member,13]=df.iloc[member,13]+df.iloc[member,14]*(1-eb)
    return (df.merge(df.groupby('team')
                       .agg({"elo":'sum'})
                       .reset_index()
                       .rename({'elo':'team_elo'},
                               axis=1),
                     on='team', 
                     how='left'))

## Round 2 Updated

In [23]:
team_elo = team_elo_update(initial)
print("Round 2")
# Team 3 v Team 4
prob_calc(3,4)
# Team 2 v Team 8
prob_calc(2,8)
# Team 2 v Team 6
prob_calc(5,1)
# Team 8 v Team 1
prob_calc(6,7)

Round 2
Team 3 has a: 0.628 % chance and Team 4 has a: 0.372 % chance of winning
Team 2 has a: 0.038 % chance and Team 8 has a: 0.962 % chance of winning
Team 5 has a: 0.777 % chance and Team 1 has a: 0.223 % chance of winning
Team 6 has a: 0.55 % chance and Team 7 has a: 0.45 % chance of winning

In [24]:
round2 = initial.copy()
round2 = elo_update(round2,7,5,7)
round2 = elo_update(round2,4,2,4)
#round2 = elo_update(round2,1,3,x)
#round2 = elo_update(round2,8,6,x)

In [25]:
team_elo = team_elo_update(round2)
print("Round 2")
# Team 3 v Team 4
prob_calc(3,4)
# Team 2 v Team 8
prob_calc(2,8)
# Team 2 v Team 6
prob_calc(5,1)
# Team 8 v Team 1
prob_calc(6,7)

Round 2
Team 3 has a: 0.604 % chance and Team 4 has a: 0.396 % chance of winning
Team 2 has a: 0.035 % chance and Team 8 has a: 0.965 % chance of winning
Team 5 has a: 0.769 % chance and Team 1 has a: 0.231 % chance of winning
Team 6 has a: 0.54 % chance and Team 7 has a: 0.46 % chance of winning

## Round 3 Update

In [26]:
team_elo = team_elo_update(initial)
print("Round 3")
# Team 4 v Team 5
prob_calc(4,5)
# Team 1 v Team 6
prob_calc(1,6)
# Team 8 v Team 7
prob_calc(8,7)
# Team 2 v Team 3
prob_calc(2,3)

Round 3
Team 4 has a: 0.372 % chance and Team 5 has a: 0.628 % chance of winning
Team 1 has a: 0.038 % chance and Team 6 has a: 0.962 % chance of winning
Team 8 has a: 0.713 % chance and Team 7 has a: 0.287 % chance of winning
Team 2 has a: 0.372 % chance and Team 3 has a: 0.628 % chance of winning

round3 = round2.copy()
round3 = elo_update(round3,4,5,x)
round3 = elo_update(round3,1,6,x)
round3 = elo_update(round3,8,7,x)
round3 = elo_update(round3,2,3,x)

In [27]:
team_elo = team_elo_update(round2)
print("Round 3")
# Team 4 v Team 5
prob_calc(4,5)
# Team 1 v Team 6
prob_calc(1,6)
# Team 8 v Team 7
prob_calc(8,7)
# Team 2 v Team 3
prob_calc(2,3)

Round 3
Team 4 has a: 0.407 % chance and Team 5 has a: 0.593 % chance of winning
Team 1 has a: 0.038 % chance and Team 6 has a: 0.962 % chance of winning
Team 8 has a: 0.704 % chance and Team 7 has a: 0.296 % chance of winning
Team 2 has a: 0.349 % chance and Team 3 has a: 0.651 % chance of winning